<div class="info-page">

  <div class="info-section">
    <div class="info-row">
      <label>Nom :</label>
      <p *ngIf="!editMode['nom']">{{ user.nom }}</p>
      <input *ngIf="editMode['nom']" type="text" [(ngModel)]="user.nom" />
      <button class="edit-btn" (click)="toggleEdit('nom')">Modifier</button>
    </div>

    <div class="info-row">
      <label>Prénom :</label>
      <p *ngIf="!editMode['prenom']">{{ user.prenom }}</p>
      <input *ngIf="editMode['prenom']" type="text" [(ngModel)]="user.prenom" />
      <button class="edit-btn" (click)="toggleEdit('prenom')">Modifier</button>
    </div>

    <div class="info-row">
      <label>Email :</label>
      <p *ngIf="!editMode['email']">{{ user.email }}</p>
      <input *ngIf="editMode['email']" type="email" [(ngModel)]="user.email" />
      <button class="edit-btn" (click)="toggleEdit('email')">Modifier</button>
    </div>

    <h3>Comptes Bancaires</h3>

    <div *ngIf="comptes.length > 0; else noAccounts">
      <div *ngFor="let compte of comptes; let i = index" class="account-card">
        <h3 class="account-title">Compte {{ i + 1 }}</h3>

        <div class="info-row">
          <label>Institution :</label>
          <p>{{ compte.institution }}</p>
        </div>
        <div class="info-row">
          <label>ID Externe :</label>
          <p>{{ compte.externalId }}</p>
        </div>
        <div class="info-row">
          <label>IBAN :</label>
          <p>{{ compte.iban }}</p>
        </div>
        <div class="info-row">
          <label>Solde :</label>
          <p>{{ compte.balance | currency: compte.currency }}</p>
        </div>
        <div class="info-row">
          <label>Devise :</label>
          <p>{{ compte.currency }}</p>
        </div>

        <!-- Ligne de séparation sauf pour le dernier élément -->
        <hr *ngIf="i < comptes.length - 1" class="account-divider">
      </div>
    </div>


    <!-- Message si aucun compte trouvé -->
    <ng-template #noAccounts>
      <p>Aucun compte bancaire trouvé.</p>
    </ng-template>
  </div>

  <div class="button-group">
    <button class="save-btn" (click)="saveChanges()">Enregistrer les modifications</button>
  </div>
</div>
