.statistiques-widgets-container {
  margin-left: 250px;
  margin-right: 10px;
  padding: 0;
  box-sizing: border-box;
  border-radius: 16px;
}
.statistiques-widgets {
  margin-top: 105px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
}

// .statistiques-widgets:hover {
//   transform: none !important;
//   box-shadow: none !important;
//   background-color: inherit !important;
// }
