.dashboard-widgets-container {
  margin-left: 250px; 
  margin-right: 10px;
  padding: 0; 
  box-sizing: border-box; 
  border-radius: 16px; 
}
.dashboard-widgets {
  margin-top: 105px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

/* Par défaut, tous les widgets prennent 1 ligne et 1 colonne */
.dashboard-widgets > app-widget {
  animation: fadeInUp 0.5s ease-out;
}

.dashboard-widgets > app-widget:nth-child(5) {
  grid-column: span 3;
  grid-row: span 2;
}

.dashboard-widgets > app-widget:nth-child(6) {
  grid-column: span 1;
  grid-row: span 1;
}

.dashboard-widgets > app-widget:nth-child(7) {
  grid-column: span 1;
  grid-row: span 3;
}

.dashboard-widgets > app-widget:nth-child(8) {
  grid-column: span 3;
  grid-row: span 2;
}
// .dashboard-widgets > app-widget:nth-child(9) {
//   grid-column: span 1;
//   grid-row: span 3;
// }
/* Icône flottante du chatbot */
.chatbot-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 80px;
  height: 80px;
  background-color: #29104a;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.2s;
}

.chatbot-icon:hover {
  transform: scale(1.1);
}

/* Conteneur du chatbot */
.chatbot-container {
  position: fixed;
  bottom: 80px;
  right: 20px;
  width: 400px;
  height: 600px;
  background-color: #845162;
  color: whitesmoke;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Permet de garder l'input en bas */
  overflow: hidden; /* Empêche les débordements */
}