<div class="chart-container">


    <!-- Message de chargement -->
    <!-- <p *ngIf="isloading">⏳ Chargement des catégories...</p> -->

    <!-- Liste des catégories une fois chargées -->
    <!-- <ul *ngIf="!isloading ;">
        @for(w of uniqueItems ; track w.name ){
        <li>{{w.name}} : {{w.amount}}</li>
        }

    </ul>
    <div *ngIf="!isloading">
        <canvas #chart></canvas>
    </div> -->


    <!-- @for(w of transactions ; track w.id ){
    <li>{{w.categoryName}} : {{w.amount}}</li>
    } -->

    <div class="chart-container">
        <canvas #pieChart></canvas>
    </div>






</div>