@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');

html, body {
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, #150016, #29104A); 
}

.container {
    width: 850px;
    height: 550px;
    background: #522C5D;
    border-radius: 30px;
    box-shadow: 0 30px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute; /* Change "relative" à "absolute" */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centrage parfait */
}


.form-box {
    position: absolute;
    width: 50%;
    height: 100%;
    padding: 40px;
    transition: 0.5s;
}

.login {
    left: 0;
}

.register {
    right: 0;
}

.input-box {
    position: relative;
    margin: 20px 0;
}

.input-box input {
    width: 100%;
    padding: 10px;
    padding-left: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    background: #E3B6B1; 
    color: #FFE3D8; 
}

.input-box i {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #888;
}

.terms {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #FFE3D8;
    margin: 15px 0;
}

.terms input {
    margin-right: 10px;
    width: 16px;
    height: 16px;
    accent-color: #E3B6B1; /* Couleur de la case cochée */
}

.terms a {
    color: #E3B6B1;
    text-decoration: none;
}

.terms a:hover {
    text-decoration: underline;
}

.btn {
    width: 100%;
    padding: 10px;
    border: none;
    background: #E3B6B1;
    color: #150016;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 40px;
}

.btn:hover {
    background: #FFE3D8;
}

.overlay {
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    background: #29104A;
    color: #FFE3D8;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px 0 0 30px;
    transition: 0.5s;
}

.overlay-panel {
    text-align: center;
}

.overlay .btn {
    background: transparent;
    border: 2px solid #150016;
    color: #FFE3D8;
}

.overlay .btn:hover {
    background: #E3B6B1;
    color: #150016;
}
.form-box h1 {
    color: #FFE3D8;
    text-align: center;
    width: 100%;
    text-decoration: solid;
    padding-top: 40px;
}
