<body>
<div class="container">
  <div class="form-box login">
    <form action="#">
      <h1>Inscription</h1>

      <!-- Champ Nom -->
      <div class="input-box">
        <input type="text" name="nom" placeholder="Nom" [(ngModel)]="nom">
        <i class='bx bxs-user'></i>
      </div>

      <!-- Champ Prénom -->
      <div class="input-box">
        <input type="text" name="prenom" placeholder="Prénom" [(ngModel)]="prenom">
        <i class='bx bxs-user'></i>
      </div>

      <!-- Champ Email -->
      <div class="input-box">
        <input type="email" name="email" placeholder="Email" [(ngModel)]="email">
        <i class='bx bxs-envelope'></i>
      </div>

      <!-- Champ Mot de passe -->
      <div class="input-box">
        <input type="password" name="motDePasse" placeholder="Mot de passe" [(ngModel)]="motDePasse">
        <i class='bx bxs-lock'></i>
      </div>

      <div class="terms">
        <input type="checkbox" id="terms-checkbox" required>
        <label for="terms-checkbox">J'accepte la <a href="#">Politique de confidentialité</a></label>
      </div>

      <button type="submit" class="btn" (click)="onRegister()">S'inscrire</button>
    </form>
    <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
  </div>

  <div class="overlay">
    <div class="logo">
      <img src="assets/images/logo.jpg" alt="Logo WealthWise">
    </div>
    <div class="overlay-panel">
      <h2>Bon retour parmi nous !</h2>
      <p>Vous avez déjà un compte ?</p>
      <button class="btn" id="login-btn" (click)="goToLogin()">Se connecter</button>
    </div>
  </div>
</div>
</body>

